<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hi.</title>
</head>
<body>
{% if user.is_staff %}
    <form action="/vacancy/new" method="post"> {% csrf_token %}
        <p>description:</p>
        <p><input type="text" name="description"></p>
        <p><input type="submit" value="Create"></p>
    </form>
{% else %}
    <form action="/resume/new" method="post"> {% csrf_token %}
        <p>description:</p>
        <p><input id="description" type="text" name="description"></p>
        <p><input type="submit" value="Create"></p>
    </form>
{% endif %}
</body>
</html>

